@model IEnumerable<School_D.Models.School>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                
                <a asp-action="ShowStudents" asp-route-id="@item.IdSchool">[@item.Grade.Sum(g => g.Class.Sum(c => c.Student.Count))]</a>
            </td>
            
            <td>

               
                <a asp-action="Edit" asp-route-id="@item.IdSchool">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSchool">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSchool">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
