@model IEnumerable<School_D.Models.Class>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Letter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGradeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Letter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGradeNavigation.Year)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClass">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClass">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClass">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
